[submodule "themes/hugo-myportfolio-theme"]
	path = themes/hugo-myportfolio-theme
	url = https://github.com/2-REC/hugo-myportfolio-theme
[submodule "themes/persian-hugo"]
	path = themes/persian-hugo
	url = https://github.com/themefisher/persian-hugo.git
